{% extends "layout.html" %}

{% block content %}
<div class="content-card" style="text-align: left;"> 
    
    <h2 class="section-title" style="text-align: center;">Today's Prompt</h2>
    <p style="text-align: center;">Write a short story inspired by the emojis below.</p>
    
    <div class="emoji-prompt">
        {{ emojis }}
    </div>

    {% if user_story %}
    <h3>You've submitted your story for today!</h3>
        <div class="submitted-story-card">
        <h4>Your Submission:</h4>
        <div class="submitted-story-content">
            {{ user_story.content }}
        </div>
    </div>
    <p>Great work! Now you can go read what others wrote.</p>
    <a href="{{ url_for('main.stories') }}" class="view_stories_btn">View All Stories</a>

{% else %}
        <h3>Submit Your Story</h3>
        <form action="{{ url_for('main.submit_story') }}" method="POST" class="story-form">
            <p>
                <textarea name="story_content" placeholder="Once upon a time..."></textarea>
            </p>
            <p>
                <button type="submit" class="btn">Submit Story</button>
            </p>
        </form>
        <small style="color: #666; text-align: right; display: block;">Note: You must submit your story before you can view others' submissions.</small>
    {% endif %}

</div>
{% endblock %}